.gallery {
  position: relative;
  padding-top: 100px;
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 100px;
    background: #ff0000;
    top: 230px;
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100px;
    background: #ff0000;
    top: 230px;
    right: 0;
  }
  &__title {
    text-align: center;
    margin-bottom: 44px;
  }
  &__title-decor {
    margin-left: 10px;
  }
  &__list {
    margin: 0;
  }
  &__image-small {
    background: #c4c4c4;
    width: 100%;
    max-width: 100%;
  }
}
