.reviews {
  background: #e6e5e5;
  padding: 104px 0;
  &__slider {
    text-align: center;
  }
  &__slide {
    max-width: 920px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
  &__slide-text {
    font-style: italic;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 25px;
  }
  &__slide-img {
    height: auto;
    background: #c4c4c4;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 16px;
  }
  &__slide-position {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 9px;
  }
  &__slide-name {
    display: block;
    font-size: 20px;
    line-height: 27px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 2px;
      width: 7px;
      height: 7px;
      button {
        width: 7px;
        height: 7px;
      }
      button::before {
        width: 7px;
        height: 7px;
        font-size: 0;
        line-height: 0;
        background: #c4c4c4;
        border: 1px solid #e6e5e5;
        border-radius: 50%;
      }
    }
    .slick-active {
      button::before {
        width: 7px;
        height: 7px;
        font-size: 0;
        line-height: 0;
        background: #c4c4c4;
        border: 1px solid #ff7400;
        border-radius: 50%;
      }
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 25px;
  }
}
